:root{
    --color-bg: #09192a;
    --color-text: #ffffff;
    --color-primary: #c45c0d;
}

body{
    background: var(--color-bg);
}

.right-side{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
}

@media (max-width: 1779px){
    
}

@media (max-width: 1280px){
    .left-side{
        width: 32%;
    }
    .right-side{
        width: 68%;
    }
}

@media (max-width: 768px){

}